/*---------------сброс стилей от Eric Mayer---------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/*---------------конец сброса стилей---------------*/
/*---------общие-----------------------*/
body {
  background: #ddd;
}
.wrapper {
  width: 80%;
  min-width: 800px;
  margin: 100px auto;
  box-sizing: border-box;
  background: #bbb;
}
.trending__header, .search-results__header {
  font-family: 'Calibri', sans-serif;
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px;
}
/*---------------header---------------*/
.header {
  padding: 60px 20px 20px 20px;
  margin-bottom: 30px;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
}
.header__logo-link {
  display: block;
  text-decoration: none;
}
.logo {
  width: 150px;
  height: 50px;
  background: #555;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #fff;
  font-family: 'Calibri', sans-serif;
  font-size: 30px;
  letter-spacing: 0.5px;
}

/*---------------форма поиска---------------*/
.search {
  width: 80%;
  height: 50px;
}
.search__form {
  font-size: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 50px;
}
.search__query-field {
  width: 90%;
  border: none;
  padding: 0 15px;
}
.search__button {
  width: 10%;
  border: none;
  background: #888;
}
/*---------------main---------------*/
main {
  padding: 20px;
}
/*---------------trending---------------*/
.trending {
  margin-bottom: 50px;
}
.trending__slider {
  
}
.trending__slider-window {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  height: 150px;
  position: relative;
}
.trending__slides {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition: left 0.7s;
}
.trending__slide {
  height: 150px;
  line-height: 150px;
  text-align: center;
  font-size: 50px;
}
.trending__slide:not(:last-child) {
  margin-right: 10px;
  
}
.trending__btn {
  font-size: 30px;
  color: #bbb;
  position: absolute;
  width: 70px;
  height: 150px;
  line-height: 150px;
  top: 0;
  z-index: 100;
  text-align: center;
  transition: opacity 0.7s;
}
.trending__btn:hover {
  cursor: pointer;
}
.trending__btn:hover .trending__arrow {
  border-color: #fff;
}
.trending__btn--forward {
  right: 0;
  background: linear-gradient(to left, #bbb 0%, transparent 100%);
/*   opacity: 1; */
}
.trending__btn--back {
  left: 0;
  background: linear-gradient(to right, #bbb 0%, transparent 100%);
  display: none;
  opacity: 0;
}
.trending__arrow {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: rotate(45deg);
}
.trending__arrow--forward {
  border-top: 3px solid #555;
  border-right: 3px solid #555;
}
.trending__arrow--back {
  border-left: 3px solid #555;
  border-bottom: 3px solid #555;
}

/*---------------результаты поиска---------------*/

.search-results__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.search-results__item {
  height: 150px;
  margin-bottom: 15px;
}